html{
  min-width: 100%;
  min-height: 100%;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,61,255,1) 0%, rgba(71,9,121,1) 66%);  
}

#login .container #login-row #login-column #login-box {
  margin-top: 40%;
  margin-bottom: 50%;
  border: 1px inset #7977ee;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 2px #999;
  border-radius: 5%;
}

#login .container #login-row #login-column #login-box #login-form {
 padding: 20px;
}

#login .text-info{
    margin-top: 20px;
    margin-right: 20px;
    color: #0375b4 !important;
}

.bg-tema{
  background-color: #0375b4;
}

.text-tema{
  color:  #0375b4;
}

.btn-tema {
  min-width: 180px;
  color: #fff;
  background-color: #00804f;
  border-color: #00442a;
  border-style: solid;
  border-width: 2px;

}

.btn-tema:hover {
  color: #fff;
  background-color:#00442a;
  border-color: #00442a;
  border-style: solid;
  border-width: 2px;
  font-weight: bolder
}

.btn-tema:focus, .btn-tema.focus {
  color: #fff;
  background-color: #007849;
  border-color: #007849;
  box-shadow: 0 0 0 0rem rgba(38, 255, 49, 0.5);
}


.logo-entrar{
  max-width: 100%;
  height: auto;
}
